extends layout

block content

  h1= title

  form(method='POST' action='/item/create')
    label(for='name') Item: 
    input#name(type='text', placeholder='Enter item name...' name='name') 
    label(for='description') Description:
    textarea#name(type='text', name='description' rows='10' cols='30')
    label(for='price') Price: £
    input(type='number', step=".01", min='0.01' max='1000' name='price') 
    label(for='price') Number in stock:
    input(type='number', name='number_in_stock' min='0' max='50') 
    label Category: 
      select(name='category')
        each category in categories 
          option(id=category._id, value=category._id) #{category.name}
    button(type='submit') Submit

  if errors 
    ul 
      for error in errors 
        li!= error.msg

  a(href='/') back to home page